.box {
  width: 100vw;
  height: 100vh;
}

.top {
  border: 1px solid black;
}

/* chat */
.chat {
  position: relative;
  display: flex;
  flex-direction: column;
}

.chat input {
  margin-bottom: 15px;
}

.chatMessages {
  padding: 0;
  width: 100%;
  list-style-type: none;
  overflow: auto;
  /* flex: 1 1 auto; */
  height: 80vh;
  margin: 0;
  max-height: 80vh;
}

.message {
  margin: 0;
  margin-bottom: 5px;
  white-space: pre;
}


/* score */
.scoreRow {
  display: flex;
  justify-content: space-between;
}
.score {
  list-style-type: none;
}

.scoreScore {
  text-align: right;
}

.canvas {
    flex: 1 1 auto;
}
