.box {
    width: 100vw
}

.top {
    border: 1px solid black;
}

.chatMessages {
    padding: 0;
    width: 100%;
    list-style-type: none;

}

.message {
    list-style-type: none;
    white-space: pre;
}

.message p {
    margin: 0;
    margin-bottom: 5px;
}

/* score */
.scoreRow {
    display: flex;
    justify-content: space-between;
}
.score {
    list-style-type: none;
}

.scoreScore {
    text-align: right;
}